
html {
  border-bottom: none;
}
body {
  background: #4801FF;
  margin: 0;
  padding: 0;
}

img {
  background: none;
}

.idyll-root > :first-child {
  margin-top: none !important;
}


.article-title tspan:hover {
  fill: #fff;
  /* stroke: #000; */
}

.article-title {
  width: 100%;
}
.article-title .container {
  transition: transform 1s;
}

.article-title.animating.animation-1 .container {
  animation: marquee1 240s linear infinite;
}
.article-title.animating.animation-2 .container {
  animation: marquee4 180s linear infinite;
}
.article-title.animating.animation-4 .container {
  animation: marquee3 240s linear infinite;
}
.article-title.animating.animation-6 .container {
  animation: marquee1 120s linear infinite;
}
.article-title.animating.animation-3 .container {
  animation: marquee2 120s linear infinite;
}
.article-title.animating.animation-5 .container {
  animation: marquee4 180s linear infinite;
}
.article-title.animating.animation-7 .container {
  animation: marquee2 120s linear infinite;
}

.article-title tspan:hover {
  /* animation: none !important;
  transform: translateX(0) !important; */
}

svg a {
  stroke: inherit;
}

@keyframes marquee1 {
  0% { transform: translateX(0); }
  25% { transform: translateX(50%); }
  75% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

@keyframes marquee2 {
  0% { transform: translateX(0); }
  25% { transform: translateX(-50%); }
  75% { transform: translateX(50%); }
  100% { transform: translateX(0); }
}

@keyframes marquee3 {
  0% { transform: translateX(-25%); }
  37.5% { transform: translateX(50%); }
  87.5% { transform: translateX(-50%); }
  100% { transform: translateX(-25%); }
}

@keyframes marquee4 {
  0% { transform: translateX(25%); }
  37.5% { transform: translateX(-50%); }
  87.5% { transform: translateX(50%); }
  100% { transform: translateX(25%); }
}

.parametric-issue-title,
.parametric-cover-title {
  font-size: 70px;
  line-height: 72px;
}

svg text a:hover {
  text-decoration: none;
}


@media all and (max-width: 800px) {
  .parametric-issue-title,
  .parametric-cover-title {
    font-size: 28px;
    line-height: 30px;
  }

  .parametric-edgeware {
    display: none;
  }
}