
html {
  border-bottom: none;
}
body {
  background: #4801FF;
  margin: 0;
  padding: 0;
  transition: 1s ease-in;
  transition-delay: 0.5s;
}

.transition-article-title {
  transition: transform 3s;
  transform: none;
}
.transition-in {
  transition: 0.25s;
}
.transition-clicked {
  transition: 2s ease-in;
  transition-delay: 0.5s;
}
/* html.is-animating body {
  background: #fff;
} */

html.is-leaving .transition-article-title {
  transform: translateX(-10000px);
}
html.is-leaving .transition-clicked .transition-article-title {
  transform: none;
}

html.is-leaving .transition-clicked {
  transform: scale(200);
  /* position: absolute; */
  /* transition-delay: 3s; */
}

.transition-fade-in {
  opacity: 1;
  transition: 5s;
}
html.is-rendering .transition-fade-in {
  opacity: 0;
}

html.is-leaving img {
  opacity: 0;
}
html.is-leaving body {
  background: #fff;
}

.parametric-cover-top-matter {
  transition: opacity 0.5s;
  /* transition-delay: opacity 0.5s; */
}
html.is-leaving .parametric-cover-top-matter,
html.is-leaving .parametric-edgeware  {
 opacity: 0;
}



img {
  background: none;
  transition: opacity 0.25s;
}

.idyll-root > :first-child {
  margin-top: none !important;
}

.mobile-title-container a {
  display: block;
  font-size: 36px;
  color: white;
  text-decoration: none;
  font-family: 'Graphik Web';
  font-weight: bold;
  margin: 1em 0.5em;
  line-height: 42px;
}

.parametric-cover-top-matter {
  display: flex;
  width: 90vw;
  margin: 3em auto;
  flex-direction: row;
}

.parametric-issue-date {
  font-size: 20px;
  margin-top: 1em;
}

.parametric-issue-title {
  text-align: right;
}

.article-title tspan:hover {
  fill: #fff;
}

.article-title {
  width: 100%;
}
.article-title .container {
  transition: transform 1s;
}



.article-title.animating.animation-1 .container {
  animation: marquee1 240s linear infinite;
}
.article-title.animating.animation-2 .container {
  animation: marquee4 180s linear infinite;
}
.article-title.animating.animation-4 .container {
  animation: marquee3 240s linear infinite;
}
.article-title.animating.animation-6 .container {
  animation: marquee1 120s linear infinite;
}
.article-title.animating.animation-3 .container {
  animation: marquee2 120s linear infinite;
}
.article-title.animating.animation-5 .container {
  animation: marquee4 180s linear infinite;
}
.article-title.animating.animation-7 .container {
  animation: marquee2 120s linear infinite;
}

.article-title tspan:hover {
  /* animation: none !important;
  transform: translateX(0) !important; */
}

svg a {
  stroke: inherit;
  cursor: pointer;
}

@keyframes marquee1 {
  0% { transform: translateX(0); }
  25% { transform: translateX(50%); }
  75% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

@keyframes marquee2 {
  0% { transform: translateX(0); }
  25% { transform: translateX(-50%); }
  75% { transform: translateX(50%); }
  100% { transform: translateX(0); }
}

@keyframes marquee3 {
  0% { transform: translateX(-25%); }
  37.5% { transform: translateX(50%); }
  87.5% { transform: translateX(-50%); }
  100% { transform: translateX(-25%); }
}

@keyframes marquee4 {
  0% { transform: translateX(25%); }
  37.5% { transform: translateX(-50%); }
  87.5% { transform: translateX(50%); }
  100% { transform: translateX(25%); }
}

.parametric-issue-title,
.parametric-cover-title {
  font-size: 70px;
  line-height: 72px;
}

svg text a:hover {
  text-decoration: none;
}


@media all and (max-width: 1000px) {
  .parametric-cover-top-matter {
    flex-direction: column;
  }
  .parametric-issue-title,
  .parametric-cover-title {
    font-size: 48px;
    line-height: 50px;
  }

  .parametric-cover-top-matter {
    max-width: none;
    margin-left: 1em;
  }

  .parametric-issue-title {
    margin-top: 0.5em;
    font-size: 36px;
    line-height: 38px;
    text-align: left;
  }

  .parametric-issue-date {
    margin-top: 0;
  }

  .parametric-edgeware {
    display: none;
  }
}