
body {
  font-family: 'Graphik Web';
  font-weight: 400;
}

strong a {
  color: #222;
  text-decoration: underline;
  transition: 0.25s;
}
strong a:hover {
  color: #4800ff;
}

.parametric-nav-links {
  font-weight: 500;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}